<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        code{
            background:wheat
        }
    </style>
</head>
<body>
    
    
    <h1>Welcome to my manatee jokes API</h1>
    
    <h2>Available endpoints</h2>
    <ul>
        <li>
            <code>/manatees</code> returns all jokes in the database
        </li>
        <li>
            <code>/manatees/random</code> returns one random manatee joke
        </li>
        <li>
                <code>/manatees/:id</code> returns one specific manatee joke. Use this to pull out your favorites!
        </li>
    </ul>

    <h3>Enjoy!</h3>
</body>
</html>